{{template "base" .}} 
{{define "title"}}
    Change password
{{end}}
{{define "comment"}}
    Dear {{.Snippet.Username}}! You may set a new password!
{{end}}
{{define "buttontext"}}
    Change password
{{end}}
{{define "link"}}
    http://localhost:3000/auth/restore?token={{.Snippet.Confirmation}}&login={{.Snippet.Email}}
{{end}}
{{define "commentifwrong"}}
    If you did not request it, simply ignore this email.
{{end}}