{{template "base" .}} 
{{define "title"}}
    Confirm registration!
{{end}}
{{define "comment"}}
    Dear {{.Snippet.Username}}! Please confirm your registration!
{{end}}
{{define "buttontext"}}
    Confirm
{{end}}
{{define "link"}}
    http://localhost:3000/auth/confirmation?token={{.Snippet.Confirmation}}
{{end}}
{{define "commentifwrong"}}
    If you did not request to register, simply ignore this email.
{{end}}