{{template "base" .}} 
{{define "title"}}
    Confirm password change!
{{end}}
{{define "comment"}}
    Dear {{.Snippet.Username}}! Change password!
{{end}}
{{define "buttontext"}}
    Confirm
{{end}}
{{define "link"}}
    http://localhost:3000/auth/confirmation?token={{.Snippet.Confirmation}}
{{end}}
{{define "commentifwrong"}}
    If you did not request to change password, simply ignore this email.
{{end}}