{{template "base" .}} 
{{define "title"}}
    Password is confirmed
{{end}}
{{define "comment"}}
    Dear {{.Snippet.Username}}! Your password is confirmed!
{{end}}
{{define "buttontext"}}
    Profile
{{end}}
{{define "link"}}
    http://localhost:3000/auth/profile
{{end}}
{{define "commentifwrong"}}
    You can set additional info about yourself on your profile page.
{{end}}