.flag {
  width: 2rem;
  height: 2rem;
}

.flag-uk {
  background-image: url('@/assets/images/flags/svg/4x3/gb.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.flag-us {
  background-image: url('@/assets/images/flags/svg/4x3/us.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.flag-es {
  background-image: url('@/assets/images/flags/svg/4x3/es.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.flag-fr {
  background-image: url('@/assets/images/flags/svg/4x3/fr.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.flag-ru {
  background-image: url('@/assets/images/flags/svg/4x3/ru.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.flag-it {
  background-image: url('@/assets/images/flags/svg/4x3/it.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.flag-de {
  background-image: url('@/assets/images/flags/svg/4x3/de.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.flag-in {
  background-image: url('@/assets/images/flags/svg/4x3/in.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.flag-au {
  background-image: url('@/assets/images/flags/svg/4x3/au.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.flag-br {
  background-image: url('@/assets/images/flags/svg/4x3/br.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.flag-jp {
  background-image: url('@/assets/images/flags/svg/4x3/jp.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.flag-cn {
  background-image: url('@/assets/images/flags/svg/4x3/cn.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.flag-eg {
  background-image: url('@/assets/images/flags/svg/4x3/eg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
